<accordion>
  <accordion-group heading="Heading Expanding">
    Example text
  </accordion-group>
  <accordion-group heading="Fruits">
    <p>Apple</p>
    <p>banana</p>
    <p>Pineapple</p>
    <p>Berries</p>
  </accordion-group>
  <accordion-group heading="Animals">
    <p>Elephant</p>
    <p>The elephants are the large mammals forming the family Elephantidae in the order Proboscidea. Three species are currently recognised: the African bush elephant, the African forest elephant, and the Asian elephant. Elephants are scattered throughout sub-Saharan Africa, South Asia, and Southeast Asia.</p>
  </accordion-group>
  <accordion-group heading="Veggies">
    <p><li>Brocoli</li></p>
    <p><li>Carrot</li></p>
    <p><li>Celery</li></p>
  </accordion-group>
</accordion>